body {
    font-family: Arial, sans-serif;
    background-color: #364d32;
}

h1 {
    color: #f4f5f5;
    font-size: 0.8em;
    line-height: 25px;
}

h1,
h3 {
    text-align: center;
}

h3{
    text-transform: uppercase;
    letter-spacing: 8px;
}

label,
input {
    display: block;
    margin: 10px 0px;
}

#div-form {
    color: #ffffff;
    background-color: #ded4d457;
    width: 400px;
    min-height: 350px;
    margin: 20px auto;
    padding: 20px;
}

#div-dados {
    color:#364d32;
    background-color: #ffffff;
    width: 100%;
    height: 100px;
    margin: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 25px;
}